@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-yellow: rgb(255, 230, 4);
    --primary-black: black;

}
body {
    font-family: 'Roboto Condensed' sans-serif;
}
/***********NAVBAR***********/
.logo {
    width: 16.25rem;
    height: 5.625rem;
    padding: 0rem 0rem;
}

nav {
    background-color: var(--primary-black);
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 221, 2)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler.navbar-toggler {
    border-color: var(--primary-yellow);
  } 

.navbar-collapse {
    position: absolute;
    right: 1.5rem;
}  

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    letter-spacing: 0.031rem;
    text-transform: uppercase;
}

.navbar-collapse .navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0.313rem;
    bottom:0;
    background-color: var(--primary-yellow);
    transition: all ease-in-out .3s;
}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    left: 0;

}

@media screen and (max-width: 62rem) {
    .navbar-collapse {
        background-color: var(--primary-yellow);
        left: 0;
        right: 0;
        top: 6.875rem
    }
    .navbar-collapse .navbar-nav .nav-item .nav-link {
        background-color:var(--primary-yellow);
        color: var(--primary-black);
        font-size: 1.7rem;
        cursor: pointer;
        letter-spacing: 0.031rem;
    }
}

@media screen and (max-width: 20.688rem) {
    .navbar-collapse {
        top: 9.375rem;
    }
    .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: var(--primary-black);
        font-size: 1.7rem;
        cursor: pointer;
        letter-spacing: 0.031rem;
    }  
}
/*****************NAVBAR END********************/