@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-yellow: rgb(255, 230, 4);
    --primary-black: black;
    --primary-white: white;
    --second-yellow: #FFD900;

}
* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
/***********NAVBAR***********/
.logo {
    width: 16.25rem;
    height: 5.625rem;
    padding: 0rem 0rem;
}

nav {
    background-color: var(--primary-black);
    z-index: 2;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 221, 2)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler.navbar-toggler {
    border-color: var(--primary-yellow);
  } 

.navbar-collapse {
    position: absolute;
    right: 1.5rem;
}  

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color:var(--primary-white);
    font-size: 1.4rem;
    cursor: pointer;
    letter-spacing: 0.031rem;
    text-transform: uppercase;
}

.navbar-collapse .navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0.313rem;
    bottom:0;
    background-color: var(--primary-yellow);
    transition: all ease-in-out .3s;
}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    left: 0;

}

@media screen and (max-width: 62rem) {
    .navbar-collapse {
        position: absolute;
        background-color: var(--primary-yellow);
        left: 0;
        right: 0;
        top: 6.5rem
    }
    .navbar-collapse .navbar-nav .nav-item .nav-link {
        background-color:var(--primary-yellow);
        color: var(--primary-black);
        font-size: 1.7rem;
        cursor: pointer;
        letter-spacing: 0.031rem;
    }
}

@media (max-width: 374px)  {
    .navbar-collapse {
        top: 9.5rem;
    }
}
@media  (min-width:355px) and (max-width:360px)  {
    .navbar-collapse {
        top: 7rem;
    }
}
/*****************NAVBAR END********************/

/*****************HEADER********************/
.header-wrapper {
    position: relative;
    background-image: url(img/nubelson-fernandes-8l30Cc1IcT8-unsplash-ConvertImage.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    opacity: 1
}
  


.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-info h1 {
    color: var(--second-yellow);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bolder;
}

.typed-text {
    color: var(--primary-white);
    text-transform: uppercase;
    font-size: 1.5rem;

}

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .tsparticles-canvas-el {
        display: none
    }
}
/*****************HEADER END********************/


/*****************HOMEBODY START********************/
.container-fluid {
    padding: 4rem;
}

.quote {
    background-color:#000000;
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    -webkit-box-shadow: 0 0 3rem .5rem rgb(0, 0, 0);
    -moz-box-shadow: 0 0 3rem .5rem rgb(0, 0, 0);
    box-shadow: 0 0 3rem .5rem rgb(0, 0, 0);
    margin: 2rem;
}


.quote p::before {
    content: '\275D';
    
}

.quote p::after {
    content: '\275E';
}

.quote h6 {
    font-size: 1.4rem;
    position: relative;
    top: 1rem;
    right: 0;    
}

div.d-flex.inner-home {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 850px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    div.d-flex.inner-home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 500px) {
    .quote {
        font-size: 1.2rem;
    }
}

/*****************HOMEBODY END********************/

/*****************BACKTOTOP END********************/

.backtotop {
    background-color: #FFA011;
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    padding: 1rem;
    position: fixed;
    right: 0;
    bottom: 2rem;
    z-index: 99;
}

/*****************BACKTOTOP END********************/

/*****************ALEXPARAGRAPH START********************/
.about-title h1 {
    font-family: 'Bungee Shade', cursive;
    background-color:#FFA011;
    border: 1rem solid;
    position: relative;
    text-align: center;
}
.about-element {
    display: flex;
    margin: 2rem
}

div.alex-image {
    position: relative;
    background-image: url(img/alex-image-modified.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40%;
    height: 70vh;
    width: 40vw;
    opacity: 1;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    
}

div.about-element-paragraph p::first-letter {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}

.about-element-paragraph {
    text-align: center;
    font-size: 1.16rem;

}

@media (max-width: 800px) {
    .about-element {
        display: block;
    }
    div.alex-image {
        width: 100% !important
    }
}

@media (max-width: 400px) {
    div.alex-image {
        width: 100% !important
    }
    .about-element {
        margin: 0;
    }
}

/*****************ALEXPARAGRAPH END********************/

/*****************BODYBUTTON START********************/
.body-button {
    display: inline-block;
    justify-content: center ;
    align-items: center;
    margin: 4rem;
}

div.body-button button {
    background-color:black;
    color: white;
    border: none;
    border-radius: 15%;
    font-weight:600;
    margin: 2rem;
    padding: 1rem;
    transition: 1s; 
    width: auto;
}

div.body-button button:hover {
    background-color: #FFA011;
    
}


@media (max-width: 630px) {
    .body-button {
        display: flex;
        flex-direction: column;
    }
}
/*****************BODYBUTTON END********************/

/*****************FOOTER START********************/
.footer-element {
    background-color: var(--primary-black);
    color: var(--primary-white);
    text-align: center;
    margin-top: 2rem;
    position: relative;
    bottom: 0
}

.footer-element div {
    margin: 1rem
}

.footer-logo {
    background-image: url(img/logo.PNG);
    height: 30vh;
    width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;    
}

@media (max-width: 550px) {
    .footer-logo {
        height: 20vh;
        width: 60vw
    }
}
.parent-site-content {
    display: flex;
    flex-direction: column;
}

.site-content {
    color: var(--primary-white);
    text-decoration: none;
    transition: 1s;
}
.site-content:hover {
    color: var(--second-yellow);
    letter-spacing: .3rem;
}


.phone-alt {
    color: var(--second-yellow);
    margin-right: 1rem;
}

.whatsapp-alt {
    color: var(--second-yellow);
    margin-right: 1rem;
}

.facebook-alt {
    color: var(--second-yellow);
    margin-right: 1rem;
    transition: .5s;
}

.facebook-alt:hover {
    font-size: 1.5rem;
}

.address {
    line-height: 0;
}

.contact {
    border: none;
    background-color: #000000;
    border-radius: 4%;
    text-decoration: none;
    color: var(--primary-white);
    font-weight: bold;
    padding: 0.3rem;
    transition: .2s;
}

.envelope-alt {
    margin-right: .5rem;
    color: #FFA011
}

.contact:hover {
    font-size: 1.2rem;
}






/* .maker {
    background-color: var(--primary-black);
    color: white;
    border-top: .2rem solid #FFA011;
    padding: 2rem;
}
.maker p {
    position: absolute;
    right: 0.7rem;
}
.maker p::before {
    content: '\00A9';
    margin-right: 1rem;
} */
/*****************FOOTER END********************/

/*****************ABOUT START********************/


.h1-about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
/*****************ABOUT END********************/